
{% extends 'blog/category/categories_list.html' %}
{% block title %}
    Subjects
{% endblock title %}


{% block content %}
    <div class="div3">
        
        <div class="swiper-wrapper">
        {% if rooms %}
        <ul>
            {% for room in rooms  %}
            <li>
                
                <a class="slider-category" href="{{ room.get_absolute_url }}">
                    <div class="category-image">
                        
                    <img src="{{ room.image.url }}"
                    class="category-image"
                    alt="Category Image">
                    <div class="category">

                        <div class="display-table center-text">
                            <div class="display-table-cell">
                                <h3><b>{{ room.title }}</b></h3>
                            </div>
                        </div>
                    </div>
                </a>
                
            </li>
            {% endfor %}
        </ul>
    </div>
        {% else %}
        <center><div class="alert alert-info">No Categories</div></center>
     {% endif %}
    </div>
    
    {% if is_paginated %}
    
                    {# Displays previous pages #}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4"
                           href="?page={{ page_obj.previous_page_number }}">Previous
                        </a>
                    {% endif %}
    
                    {# Displays current page #}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                     {% endfor %}
    
                    {# Displays next pages #}
                   {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4"
                           href="?page={{ page_obj.next_page_number }}">Next
                        </a>
                        <a class="btn btn-outline-info mb-4"
                           href="?page={{ page_obj.paginator.num_pages }}">Last
                        </a>
                    {% endif %}
    
                {% endif %}
    
            </div><!-- container -->
        </section><!-- section -->


{% endblock content %}