{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firstpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'blog/css/tag/landing.css'%}">
</head>
<style>
    .div1{
        background-image:url(div1.jpg) ;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 2.5in;
        /* filter: brightness(70%); */
    }
    
</style>
<body>
    <div class="div1" style= " background-image: url('{% static "blog/images/tag/div1.jpg" %}');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 2.5in;">
        <nav>
            <img src="{% static 'blog/images/tag/logo.png'%}" alt="" class="logo">
            <ul>
                <li><a href="#Contact">Contact us</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'blog:logout' %}" id="contact">Logout</a></li>
                {% else %}
                <li><a href="{% url 'blog:login' %}" id="contact">Login</a></li>
                {% endif %}
            </ul>
            
        </nav>
        <p>Welcome to TAG!</p>
    </div>
    <div class="div2">
        <div class="your">
            <h1>Your favorite PQ hub!</h1>
            <p>We're glad to serve in the best way we can.<br>
                Your success is our joy, and we'll bring it to you at the <br>
                tap of a button. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Quam repellendus nisi nobis, quod aliquid sapiente odit doloremque esse! <br>
                Voluptatibus delectus id corrupti atque rerum eveniet deleniti sit tempora amet modi? <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Doloribus nihil quis cupiditate atque porro placeat laudantium earum <br> 
                consequatur possimus accusamus, ex tempore unde culpa quibusdam distinctio <br>
                non illo expedita harum? <br>
            </p>
        </div>
        <div class="who">
            <div id="who2"></div>
            <p id="who">Who<br>are we</p>
            <div class="image">
                <img src="{% static 'blog/images/tag/who1.jpg'%}" alt="" id="pic1">
                <img src="{% static 'blog/images/tag/who2.jpg'%}" alt="" id="pic2">
                <img src="{% static 'blog/images/tag/who3.jpg'%}" alt="" id="pic3">
            </div>
        </div>
    </div>
    <div class="div3">
        <p><span>What</span><br>we do</p>
        <div class="what2"></div>
        <img src="{% static 'blog/images/tag/laptop.jpg'%}" alt="" id="pic4">
        <div class="what4">
            <p id="what4">We bring to you the latest <br>
                news and PQ's across <br>
                various department <br>
                in your school.</p>
                {% if request.user.is_authenticated %}
                <a href="{% url 'blog:dashboard_home' %}"><button>Access Your PQ</button></a>
                {% comment %} <li><a href="{% url 'blog:logout' %}">Logout</a></li> {% endcomment %}
                 {% else %}
                 <a href="{% url 'blog:login' %}"><button>Access Your PQ</button></a>
               {% endif %}
            
        </div>
    </div>
    <div class="div4">
        <a name="Contact">
            <p>Talk To Us Now!</p>
            <nav>
                <ul>
                    <li><i class="fa-solid fa-paper-plane"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li> 
                </ul>
            </nav>
            <div class="contact">
                <p id="us">Contact us</p>
                <div id="phone">
                    <li><i class="fa-solid fa-phone">  Phone:</i></li>
                    <p>+234 8130 986 046 | +234 8105 234 940</p>
                    <br>
                    <br>
                    <li><i class="fa-solid fa-envelope">  Email:</i></li>
                    <p>tag.teslas@gmail.com</p>
                </div>
                <div class="text">
                    <input type="text" name="email" id="name" placeholder="Name">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="text" id="message" placeholder="Message">
                    <a href="#"> <button>Submit</button></a>
                </div>
            </div>
        </a>
    </div>
    <div class="div5">
        <img src="{% static 'blog/images/tag/logo.png' %}" alt="" srcset="">
        <div  >
            <nav class="home">
                <div>
                    <p>Get The Freshest News From Us </p>
                    <br>
                    <input type="email" name="" id="email" placeholder="Your Email Address"> 
                    <a href="#" id="sub"> <button>Subscribe</button></a>
                </div>
            </nav>
            <nav class="terms">
                <li><a href="#">Terms and Condition</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Accessability</a></li>
                <li><a href="#">Legal</a></li>
            <p>©Neroks IT and Services 2022. All right reserved</p>
            </nav>
        </div>
    </div>
</body>
</html>












{% comment %} 




{% block title %}
    Home
{% endblock title %}


{% block content %}
    {% if categories %}
    <div class="main-slider">
		<div class="swiper-container position-static" data-slide-effect="slide" data-autoheight="false"
			data-swiper-speed="500" data-swiper-autoplay="5000" data-swiper-margin="0" data-swiper-slides-per-view="4"
			data-swiper-breakpoints="true" data-swiper-loop="true" >
			<div class="swiper-wrapper">
                {% for category in categories %}
				<div class="swiper-slide">
					<a href="{{ category.get_absolute_url }}">
						<div class="category-image">
                            <img src="{{ category.image.url }}"
                                 alt="Blog Image"
                                 width="352" height="235"
                             >
                        </div>
						<div class="category">
							<div class="display-table center-text">
								<div class="display-table-cell">
									<h3><b>{{ category.name }}</b></h3>
								</div>
							</div>
						</div>
					</a>
				</div><!-- swiper-slide -->
                {% endfor %}

			</div><!-- swiper-wrapper -->
		</div><!-- swiper-container -->

	</div><!-- slider -->
    {% else %}
        <center><div class="alert alert-warning"><b>No Categories</b></div></center>
    {% endif %}

	<section class="blog-area section">
		<div class="container infinite-container">
            {% if articles %}
			<div class="row infinite-item">
                {% for article in articles %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image">
                                <img src="{{ article.image.url }}"
                                     alt="Blog Image"
                                     width="330" height="220"
                                >
                            </div>

							<a class="avatar" href="{% url 'blog:author_articles' article.author.username %}">
                                <img class="profile-image" src="{{ article.author.profile.image.url }}" alt="Profile Image">
                            </a>

							<div class="blog-info">

								<h4 class="title"><a href="{{ article.get_absolute_url }}"><b>{{ article.title }}</b></a></h4>

								<ul class="post-footer">
                                    <li><a><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
									<li><i class="ion-chatbubbles"></i>{{ article.comments.count }}</li>
									<li><a><i class="ion-eye"></i>{{ article.views }}</a></li>
								</ul>

							</div><!-- article-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
                {% endfor %}
			</div><!-- row -->
            {% else %}
                <div class="alert alert-warning"><b>No Articles</b></div>
            {% endif %}
        {# Pagination for article post #}
            {% if is_paginated %}

                {# Displays previous pages #}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.previous_page_number }}">Previous
                    </a>
                {% endif %}

                {# Displays current page #}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                 {% endfor %}

                {# Displays next pages #}
               {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.next_page_number }}">Next
                    </a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.paginator.num_pages }}">Last
                    </a>
                {% endif %}

            {% endif %}
		</div><!-- container -->
	</section><!-- section -->

{% endblock content %} {% endcomment %}
