{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'blog/css/tag/dashboard.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% if title %}
        <title>TESLAS - {{title}}</title>
    {% else %}
        <title>TESLAS</title>
    {% endif %}


    </head>

<body>
    {% if user.is_authenticated %}
    <div class="major">
        <div class="div1">
            <nav>
                <img src="{% static 'blog/images/tag/logo.png' %}" alt="" class="logo">
                <ul>
                    <li><a href="dashbord.html" id="a"><i class="fa-solid fa-table-columns"> </i>
                            <p>Dashboard</p>
                        </a></li>
                    <li><a href="{%url 'blog:categories_list'%}"id="b"><i class="fa-solid fa-book-open-reader"></i>
                            <p> Past Questions</p>
                        </a></li>
                    <li><a href="notepage.html" id="b"><i class="fa-solid fa-book"></i>
                            <p> Notes</p>
                        </a></li>
                    <li><a href="livestream.html" id="c"><i class="fa fa-podcast" aria-hidden="true"></i>
                            <p>Livestream</p>
                        </a></li>
                    <li><a href="notification.html" id="d"><i class="fa-solid fa-bell"></i>
                            <p>Notification</p>
                        </a></li>
                    <li><a href="/chat/{{friend.username}}" id="e"><i class="fa-solid fa-comments"> </i>
                            <p>Chat</p>
                        </a></li>
                </ul>
            </nav>
        </div>
        <div class="div2">
            <p id="wel">Welcome {{ user.username }}!</p>
            <a href="notification.html"><i class="fa-solid fa-bell" id="bell"></i></a>
            <a href="profile.html"> <img src="bitmoji.jpeg" alt="" srcset="" id="bit"></a>
            <div class="per">
                <a href="#">
                    <p>Percy <i class="fa-solid fa-chevron-down"></i></p>
                </a>
               <ul class="dropdown">
                    <li><a href="{% url 'blog:author_profile_details' %} ">Profile</a></li>
                    <li><a href="{% url  'blog:author_profile_update' %}" id="sch">Schedule Livestream</a></li>
                    <li><a href="universities-pastquestions.html">Test Yourself</a></li>
                    <li><a href="{% url 'blog:logout' %} ">Logout!</a></li>
                </ul>
            </div>
        </div>
        {% block content%}
        {% endblock%}
    </div>
    {% endif %}
</body>

</html>