*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background: white;
}
.major{
    height: 2in;
}
.div1{
    background: #fcd8aa;
    width: 3in;
    height: 7.22in;
    position: sticky;
}
nav{
    display: flex;
    align-items: center;
    
}
.logo{
    cursor: pointer;
    height: 3in;
    position: relative;
    bottom: 1.3in;
}
nav ul li{
    position: relative;
    top: 2.3in;
    right: 3in;
    list-style-type: none;
    display: grid;
    font-size: 15px;
}
nav ul li p{
    position: relative;
    left: 50px;
    bottom: 30px;
    font-size: 20px;
    color: white;
}
nav ul li i{
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    position: relative;
    bottom: 5px;
}
#a{
    position: relative;
    bottom: 70px;
    background: #a80f27;
    padding: 20px;
    width: 2.58in;
    height: 10px;
}
#a:hover{
    position:relative;
    width: 2.5in;
    transition: .4s;
}
#b{
    position: relative;
    height: 10px;
    margin-top: 30px;
    bottom: 70px;
    background: #a80f27;
    padding: 20px;
    width: 2.5in;
}
#c{
    position: relative;
    height: 10px;
    margin-top: 30px;
    bottom: 70px;
    background: #a80f27;
    padding: 20px;
    width: 2.58in;
}
#c:hover{
    position:relative;
    width: 2.5in;
    transition: .4s;
}
#d{
    position: relative;
    height: 10px;
    margin-top: 30px;
    bottom: 70px;
    background: #a80f27;
    padding: 20px;
    width: 2.58in;
}
#d:hover{
    position:relative;
    width: 2.5in;
    transition: .4s;
}
#e{
    position: relative;
    height: 10px;
    margin-top: 30px;
    bottom: 70px;
    background: #a80f27;
    padding: 20px;
    width: 2.58in;
}
#e:hover{
    position:relative;
    width: 2.5in;
    transition: .4s;
}
nav ul li a{
    color:black;
    text-decoration: none;
    text-transform: capitalize;
}
/* second div */
.div2{
    padding: 0;
    /* border: 2px solid blue; */
    position: relative;
    bottom: 7.5in;
}
.per{
    padding: 5px ;
    border: 2px solid #a80f27;
    position: relative;
    width: 1in;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 12.5in;
    font-size: 20px;
    text-decoration: none; 
}
#bit{
    position: relative;
    left: 11.5in;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(132, 134, 134);
    right: 10px;
    top: 50px;
}
.dropdown li{
    display: grid;
    position: relative;  
    justify-content:left;
    padding-left:10px; 
    padding-top: 25px;  
    font-size: 10px;
    justify-content: space-between;
    border-bottom: 1px solid white;
    cursor:  pointer;
}
.dropdown li:hover{
    background: #f0b363;
    color: black;
    transition: .4s;
}
.dropdown a:hover{
    color: black;
}
.per a{
    text-decoration: none;
    color:#a80f27;
}
.dropdown a{
    text-decoration: none;
    color: white;
}
.per .dropdown{
    background: #c77200;
    position: absolute;
    z-index: 999;
    display:none;
    right: 5px;
    top:35px;
    border-radius: 10px;
    height: 1.7in;
    width: 1.3in;
    justify-content: space-evenly;
    
}
.per:hover ul.dropdown{
    display: block;
    color: black;
    transition: .4s;
}
#sch{
    font-size: 10px;
}

/* div 3 */
.div3{
    position: absolute;
    text-align: center;
    font-weight: bolder; 
    left: 400px;
    height: 70vh;
}
.div3 h2{
    font-size: 23px;
    font-weight: 100;
}
.div4{
    display: flex;
    position: relative;
    bottom: 70px;
}
.div4 ul{
    display: flex;
    flex-wrap: wrap;
}
.div4 ul li{
    list-style: none;
    border: 2px solid black;
    margin-top: 30px;
    width: 400px;
    border-radius: 10px;
    text-align: left;
    height: 60px;
}
.div4 ul h2{
    font-size: 20px;
    position: relative;
    font-weight: bold;
    top: 18px;
    left: 70px;
}
.div4 ul .fa-table-columns{
    color: rgb(101, 97, 97);
    font-size: 30px;
    position: relative;
    bottom: 10px;
    left: 10px;
}
.div4 ul .fa-ellipsis{
    color: rgb(14, 13, 13);
    font-size: 30px;
    position: relative;
    bottom: 10px;
    left: 300px;
}
.links{
    display: flex;
    justify-content: space;
    position: relative;
    font-size: 23px;
    position: relative;
    bottom: 100px;
    right: 50px;
}